body{
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#upper-main{
    margin: 30px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.one, .two, .three{
    width: 20%;
    margin-left: 40px;
    box-shadow: 7px 7px 20px rgb(128, 128, 128);
}
.content{
    padding: 20px;
}
.btn{
    width: 100%;
    height: 60px;
    background-color: rgb(143, 143, 143);
    justify-content: center;
    line-height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn:hover{
    background-color: rgb(204, 205, 205);
}
.one{
    margin-top: 30px;
}
.three{
    margin-top: 60px;
}